<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :party, 'kinoko' %>
    <%= f.radio_button :party, 'kinoko', :checked => true %>
    <%= image_tag "kinoko.png", :size => "256x256", :class => :chocolate_form_elem_right %>

    <%= f.label :party, 'takenoko', :class => :chocolate_form_elem_left %>
    <%= f.radio_button :party, 'takenoko', :checked => false %>
    <%= image_tag "takenoko.png", :size => "256x256" %>

    <br /><br /><br />
    <%= f.label :company, 'Signal' %>
    <%= f.radio_button :company, 'signal', :class => :chocolate_form_elem_right, :checked => true %>

    <%= f.label :company, 'YJ', :class => :chocolate_form_elem_left %>
    <%= f.radio_button :company, 'yj', :checked => false %>

  </div>


  <div class="actions">
    <%= f.submit('Here for Vote') %>
  </div>
<% end %>
