<h1>Thanks For Your Vote!</h1>
<h5>The result will be studied, considered, and reflected to another chance of visiting Signal. Maybe,,,</h5>


<div id="results">
  <div id="kinoko_results">
    kinoko
    <div id="kinoko_point">
      <%= @kinoko_point %>
    </div>
    <div id="kinoko_detail">
      <div id="kinoko_signal">
        <% @kinoko_signal_point.times do %>
          <%= image_tag "kinoko.png", :size => "25x25" %><br>
        <% end %>
        signal
      </div>
      <div id="kinoko_yj">
        <% @kinoko_yj_point.times do %>
          <%= image_tag "kinoko.png", :size => "25x25" %><br>
        <% end %>
        yj
      </div>
    </div>
  </div>

  <div id="takenoko_results">
    takenoko
    <div id="takenoko_point">
      <%= @takenoko_point %>
    </div>
    <div id="takenoko_detail">
      <div id="takenoko_signal">
        <% @takenoko_signal_point.times do %>
          <%= image_tag "takenoko.png", :size => "25x25" %><br>
        <% end %>
        signal
      </div>
      <div id="takenoko_yj">
        <% @takenoko_yj_point.times do %>
          <%= image_tag "takenoko.png", :size => "25x25" %><br>
        <% end %>
        yj
      </div>
    </div>
  </div>
</div>

<br>
<div id="joint">
</div>
<br>

<div id="chats">
<% @chats.each do |chat| %>
  <%= render 'show', chat: chat %>
<% end %>
</div>


<div id="chat_area">
</div>

<%= render 'form_chat' %>

<script>
  var ws_rails = new WebSocketRails("localhost:3001/websocket");

  ws_rails.bind("websocket_chat", function(message){
    var message_li = document.createElement("p");
    message_li.textContent = message;
    document.getElementById("chat_area").appendChild(message_li);
  })
  document.getElementById("send").onclick =  function(){
    var comment = document.getElementById("comment").value;
    var name = document.getElementById("name").value;
    var name_plus_comment = name + "\001" + comment;
    ws_rails.trigger("websocket_chat", name_plus_comment);
  }
</script>
