<h1>Thanks For Your Vote!</h1>
<h5>The result will be studied, considered, and reflected to another chance of visiting Signal. Maybe,,,</h5>


<div id="results">
  <div id="kinoko_results">
    kinoko
    <div id="kinoko_point">
      <%= @kinoko_point %>
    </div>
    <div id="kinoko_detail">
      <div id="kinoko_signal">
        <% @kinoko_signal_point.times do %>
          <%= image_tag "kinoko.png", :size => "25x25" %><br>
        <% end %>
        signal
      </div>
      <div id="kinoko_yj">
        <% @kinoko_yj_point.times do %>
          <%= image_tag "kinoko.png", :size => "25x25" %><br>
        <% end %>
        yj
      </div>
    </div>
  </div>

  <div id="takenoko_results">
    takenoko
    <div id="takenoko_point">
      <%= @takenoko_point %>
    </div>
    <div id="takenoko_detail">
      <div id="takenoko_signal">
        <% @takenoko_signal_point.times do %>
          <%= image_tag "takenoko.png", :size => "25x25" %><br>
        <% end %>
        signal
      </div>
      <div id="takenoko_yj">
        <% @takenoko_yj_point.times do %>
          <%= image_tag "takenoko.png", :size => "25x25" %><br>
        <% end %>
        yj
      </div>
    </div>
  </div>
</div>

<br>
<div id="joint">
leave comments if you have any.
</div>
<br>

<div id="chats">
<% @chats.each do |chat| %>
  <%= render 'show', chat: chat %>
<% end %>
</div>


<div id="dynamic_chat_area">
</div>

<div id="chat_form">
<%= render 'form_chat' %>
</div>

<script>
  var websocket_host = location.host.split(":")[0] + "/websocket";
  var ws_rails = new WebSocketRails(websocket_host);

  ws_rails.bind("websocket_chat", function(message){
    var split_array = message.split("\001");
    var chat_name = split_array[0];
    var chat_message = split_array[1];

    var dynamic_chat = document.createElement('div');
    dynamic_chat.className = 'chat';
    
    var name_doc = document.createElement('div');
    name_doc.className = 'chat_name';
    name_doc.textContent = chat_name;

    var message_doc = document.createElement('div');
    message_doc.className = 'chat_comment';
    message_doc.textContent = chat_message;

    dynamic_chat.appendChild(name_doc);
    dynamic_chat.appendChild(message_doc);

    var hr_doc = document.createElement('div');
    hr_doc.className = 'hr';
    hr_doc.appendChild(document.createElement('hr'));
    
    document.getElementById("dynamic_chat_area").appendChild(dynamic_chat);
    document.getElementById("dynamic_chat_area").appendChild(hr_doc);
  })
  document.getElementById("send").onclick =  function(){
    var comment = document.getElementById("comment").value;
    var name = document.getElementById("name").value;
    var name_plus_comment = name + "\001" + comment;
    ws_rails.trigger("websocket_chat", name_plus_comment);
  }
</script>
