<h1>Listing votes</h1>

<table>
  <thead>
    <tr>
      <th>Party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.party %></td>
        <td><%= vote.company %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Kinoko point : <%= @kinoko_point %> <br>
Takenoko point : <%= @takenoko_point %> <br>
<%= link_to 'New Vote', new_vote_path %>

<div id="chats">
<% @chats.each do |chat| %>
  <%= render 'show', chat: chat %>
<% end %>

</div>
<%= render 'form_chat' %>
