<h1>Listing votes</h1>

<table>
  <thead>
    <tr>
      <th>Party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.party %></td>
        <td><%= vote.company %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Kinoko point : <%= @kinoko_point %> <br>
Takenoko point : <%= @takenoko_point %> <br>
<%= link_to 'New Vote', new_vote_path %>

<div id="chats">
<% @chats.each do |chat| %>
  <%= render 'show', chat: chat %>
<% end %>

</div>
<%= render 'form_chat' %>

<div id="chat_area">
</div>

<script>
  var ws_rails = new WebSocketRails("localhost:3001/websocket");

  ws_rails.bind("websocket_chat", function(message){
    var message_li = document.createElement("p");
    message_li.textContent = message;
    document.getElementById("chat_area").appendChild(message_li);
  })
  document.getElementById("send").onclick =  function(){
    var comment = document.getElementById("comment").value;
    var name = document.getElementById("name").value;
    var name_plus_comment = name + "\001" + comment;
    ws_rails.trigger("websocket_chat", name_plus_comment);
  }
</script>
