<p id="notice"><%= notice %></p>

<p>
  <strong>Party:</strong>
  <%= @vote.party %>
  <strong>Company:</strong>
  <%= @vote.company %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
